{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} - Cadastro{% endblock %}

{% block page_content %} 

<form action="#" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="Cnome">Nome</label>
      <input type="text" class="form-control" id="Cnome" name="nome" placeholder="Nome Completo">
    </div>

    <div class="form-check">
      <label>Sexo</label>
      <label class="checkbox">
        <input type="radio" name="sexo" value="masculino"> Masculino
      </label>
      <label class="checkbox">
        <input type="radio" name="sexo" value="feminino"> Feminino
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="botaoemail">E-mail</label>
    <input type="email" class="form-control" id="botaoemail" name="email" placeholder="E-mail">
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label for="botaoendereço">Endereço</label>
      <input type="text" class="form-control" id="botaoendereço" name="endereco" placeholder="Endereço">
    </div>

    <div class="form-group col-md-6">
      <label for="botaocidade">Cidade</label>
      <input type="text" class="form-control" id="botaocidade" name="cidade" placeholder="Cidade">
    </div>
  </div>

  <div class="form-group">
    <label for="inputEstado">Estado</label>
    <select id="inputEstado" class="form-control" name="estado">
      <option selected>---</option>
      <option>Acre (AC)</option>
      <option>Alagoas (AL)</option>
      <option>Amapá (AP)</option>
      <option>Amazonas (AM)</option>
      <option>Bahia (BA)</option>
      <option>Ceará (CE)</option>
      <option>Brasília (DF)</option>
      <option>Espírito Santo (ES)</option>
      <option>Goiás (GO)</option>
      <option>Maranhão (MA)</option>
      <option>Mato Grosso (MT)</option>
      <option>Mato Grosso do Sul (MS)</option>
      <option>Minas Gerais (MG)</option>
      <option>Pará (PA)</option>
      <option>Paraíba (PB)</option>
      <option>Paraná (PR)</option>
      <option>Pernambuco (PE)</option>
      <option>Piauí (PI)</option>
      <option>Rio de Janeiro (RJ)</option>
      <option>Rio Grande do Norte (RN)</option>
      <option>Rio Grande do Sul (RS)</option>
      <option>Rondônia (RO)</option>
      <option>Roraima (RR)</option>
      <option>Santa Catarina (SC)</option>
      <option>São Paulo (SP)</option>
      <option>Sergipe (SE)</option>
      <option>Tocantins (TO)</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Cadastrar</button>

</form>
{% endblock %}