{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} - Cadastro{% endblock %}

{% block page_content %} 

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
             <label for="Cnome">Nome</label>
             <input type="text" class="form-control" id="Cnome" placeholder="Nome Completo">
        </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="botaoemail">E-mail</label>
      <input type="email" class="form-control" id="botaoemail" placeholder="E-mail">
    </div>
  </div>
  <div class="form-group">
    <label for="botaoendereço">Endereço</label>
    <input type="text" class="form-control" id="botaoendereço" placeholder="Endereço">
  </div>
  <div class="form-group">
      <label for="botaocidade">Cidade</label>
      <input type="text" class="form-control" id="botaocidade" placeholder="Cidade">
    </div>
    <div class="form-group col-md-6">
            <label for="inputEstado">Estado</label>
            <select id="inputEstado" class="form-control">
              <option selected>---</option>
              <option>Acre (AC)</option>
              <option>Alagoas (AL)</option>
              <option>Amapá (AP)</option>
              <option>Amazonas (AM)</option>
              <option>Bahia (BA)</option>
              <option>Ceará (CE)</option>
              <option>Brasília (DF)</option>
              <option>Espírito Santo (ES)</option>
              <option>Goiás (GO)</option>
              <option>Maranhão (MA)</option>
              <option>Mato Grosso (MT)</option>
              <option>Mato Grosso do Sul (MS)</option>
              <option>Minas Gerais (MG)</option>
              <option>Pará (PA)</option>
              <option>Paraíba (PB)</option>
              <option>Paraná (PR)</option>
              <option>Pernambuco (PE)</option>
              <option>Piauí (PI)</option>
              <option>Rio de Janeiro (RJ)</option>
              <option>Rio Grande do Norte (RN)
                </option>
              <option>Rio Grande do Sul (RS)</option>
              <option>Rondônia (RO)
                </option>
              <option>Roraima (RR)</option>
              <option>
                    Santa Catarina (SC)</option>
              <option>São Paulo (SP)</option>
              <option>Sergipe (SE)</option>
              <option>Tocantins (TO)</option>
            </select>
          </div>
    <div class="form-check">
        <legend class="col-form-label col-sm-2 pt-0">Sexo</legend>
            <input class="form-check-input" type="radio" name="exampleRadios" id="SexoM" value="option1" >
                <label class="SM" for="SexoM">Masculino</label> 
            <input class="form-check-input" type="radio" name="exampleRadios" id="SexoF" value="option2" >
                <label class="SF" for="SexoF">Feminino</label>
    </div>
          
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

{% endblock %}