{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} - Cadastro{% endblock %}

{% block page_content %}


<form action="#" method="post">
	<h1>Dados da secretária</h1>
	<fieldset>
	
	 <fieldset class="grupo">
		<div class="campo">
			<label for="nome">Nome</label>
			<input type="text" id="nome" name="nome" style="width: 25em" value="" />
       
        <div class="campo">
                <label for="DT">Data de Nascimento</label>
                <input type="date" id="DT" name="DT" style="width: 10em" value="" />
        </div>
        </fieldset>	
        
     <fieldset class="grupo">
           
            <div class="campo">
            <label for="DT">Data de Admissão</label>
            <input type="date" id="DT" name="DT" style="width: 10em" value="" />
        </div>
		

    
     <fieldset class="grupo"></fieldset>
         <div class="campo">
	    	<label for="Idade">Idade</label>
		    <input type="text" id="Idade" name="Idade" style="width: 20em"  value="" />
         </div>
         <div class="campo">
            <label>Sexo</label>
            <label class="checkbox">
                <input type="radio" name="sexo" value="masculino"> Masculino
            </label>
            <label class="checkbox">
                <input type="radio" name="sexo" value="feminino"> Feminino
            </label>
        </div>
     </fieldset> 

    <fieldset class="grupo"></fieldset>
         <div class="campo">
	    	<label for="CPF">CPF</label>
		    <input type="text" id="CPF" name="CPF" style="width: 20em"  value="" />
         </div>

         <div class="campo">
	    	<label for="RG">RG</label>
		    <input type="text" id="RG" name="RG" style="width: 20em"  value="" />
         </div>
     </fieldset> 


     </fieldset>	
	    <div class="campo">
		     <label for="email">E-mail</label>
		     <input type="text" id="email" name="email" style="width: 41em" value="" />
         </div>

     <fieldset class="grupo"></fieldset>
         <div class="campo">
	    	<label for="telefone">Telefone</label>
		    <input type="text" id="telefone" name="telefone" style="width: 20em"  value="" />
	     </div>
     </fieldset> 
    
     <fieldset class="grupo">
	
         <div class="campo">
			<label for="Endereço">Endereço</label>
			<input type="text" id="Endereço" name="Endereço" style="width: 20em" value="" />
	     </div>

	 <fieldset class="grupo">
		 </div>
         <div class="campo">
			<label for="Estado">Estado</label>
			<input type="text" id="Estado" name="Estado" style="width: 20em" value="" />
		 </div>

		 <div class="campo">
			<label for="Cidade">Cidade</label>
			<select name="Cidade" id="Cidade">
				<option value="">--</option>
                <option value="SR">Santa Rita</option>
                <option value="JP">João Pessoa</option>
                <option value="CG">Campina Grande</option>
			</select>
		 </div>
      
        
         <div class="campo">
			 <label for="Bairro">Bairro</label>
			 <input type="text" id="Bairro" name="Bairro" style="width: 20em" value="" />
		

     <fieldset class="grupo">
         <div class="campo">
			<label for="Estado Civil">Estado Civil</label>
			<select name="Estado Civil" id="Estado Civil">
				<option value="">--</option>
                <option value="">Solteira</option>
                <option value="">Casada</option>
                <option value="">Divorsiada</option
			</select>
		</div>
     </fieldset>
   
     </fieldset>
    	
    <button class="botao submit" type="submit" name="submit">OK</button>
    <button class="botao submit" type="submit" name="submit">Cancelar</button>
	
 </fieldset>
</form>
{% endblock %}
