{% extends "bootstrap/base.html" %}
{% block title %}Sisriso{% endblock %}


{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{{ super() }}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
            
    <a class="navbar-brand" href="#" >Sisriso</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#SR" aria-controls="SR" aria-expanded="false" aria-label="Alterna navegação"> 
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="SR">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"> Início <span class="sr-only">(Página atual)</span></a>
            </li><li class="nav-item" >
                <a class="nav-link" href="/dentista/cadastro"> Cadastro do Dentista </a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="/secretaria/cadastro"> Cadastro da Secretaria </a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="/procedimentos"> Procedimentos </a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="/clientes"> Clientes </a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="/relatorio"> Relatorio </a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}


