{% extends base.html %}

{% block title %} {{ super() }} - Formulário{% endblock %}

{% block page_content %}
    <fieldset class= "jj">
        <div class= "area">
               <label for= "nome">Nome:</label>
               <input type= "text" id="nome" name="nome" style="width: 25em" value= ""/>
        </div>
        <div class="area">
                <label for="DT">Data do relatório:</label>
                <input type="date" id="DT" name="DT" style="width: 10em" value="" />
        </div>
    </fieldset>	
        
    <fieldset class="jj"></fieldset>
    	<div class="area">
        	<label for="valor">Lucro mensal:</label>
        	<input type="text" id="lucro" name="lucro" style="width: 10em"  value="" />
    	</div>
        
    <fieldset class="jj"></fieldset>
    	<div class="area">
        	<label for="Quantidadedeclientes:">Quantidade de Clientes:</label>
        	<input type="text" id="qc" name="qc" style="width: 6em"  value="" />
    	</div>
    <fieldset class="jj">
	<div class="area">
		<label for="Obsevacoes">Observações:</label>
		<input type="text" id="obs" name="obs" style="width: 10em" value="" />
	</div>
		<div> class="area">
			<label for="Cidade">Cidade</label>
			<select name="Cidade" id="Cidade">
				<option value="">--</option>
                <option value="SR">Santa Rita</option>
                <option value="JP">João Pessoa</option>
                <option value="CG">Campina Grande</option>
                <option value="BA">Bayeux</option>
			</select>
        	</div>
    </fieldset>
   {% endblock %}
