<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Consultório Odontológico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1> Formulário </h1>

</head>
<body>
   
    <fieldset class= "jj">
        <div class= "area">
               <label for= "nome">Nome:</label>
               <input type= "text" id="nome" name="nome" style="width: 25em" value= ""/>
        </div>
        <div class="area">
                <label for="DT">Data do relatório:</label>
                <input type="date" id="DT" name="DT" style="width: 10em" value="" />
        </div>
    </fieldset>	
        
    <fieldset class="jj"></fieldset>
    <div class="area">
        <label for="valor">Lucro mensal:</label>
        <input type="text" id="lucro" name="lucro" style="width: 10em"  value="" />
    </div>
        
    <fieldset class="jj"></fieldset>
    <div class="area">
        <label for="Quantidadedeclientes:">Quantidade de Clientes:</label>
        <input type="text" id="qc" name="qc" style="width: 6em"  value="" />
    </div>
    <fieldset class="jj">
		<div class="area">
			<label for="Obsevacoes">Observações:</label>
			<input type="text" id="obs" name="obs" style="width: 10em" value="" />
		</div>
		<div> class="area">
			<label for="Cidade">Cidade</label>
			<select name="Cidade" id="Cidade">
				<option value="">--</option>
                <option value="SR">Santa Rita</option>
                <option value="JP">João Pessoa</option>
                <option value="CG">Campina Grande</option>
                <option value="BA">Bayeux</option>
			</select>
        </div>
    </fieldset>
    	


</body>
<style>
    h1{
    color: #354e61;
    text-align: center;
    }
    h5{
    color: #354e61;
    }
</style>
</html>