<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Consultório Odontológico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1> Cadastro de Clientes</h1>
 
  
</head>
<body>
   
    <fieldset class= "bjj">
        <div class= "area">
               <label for= "nome"> Nome:</label>
               <input type= "text" id="nome" name="nome" style="width: 25em" value= ""/>

        </div>
        <div class="area">
                <label for="DT">Data de Nascimento:</label>
                <input type="date" id="DT" name="DT" style="width: 10em" value="" />
        </div>
    </fieldset>	
        <div class="area">
                <label for="TS">Tipo Sanguíneo:</label>
                <input type="text" id="TS" name="TS" style="width: 5em" value="" />
            </div>
            <fieldset class="bjj">
                    <div class="area">
                        <label for="IDADE">Idade:</label>
                        <input type="number" id="IDADE" name="IDADE" style="width: 5em"  value="" />
                    </div>
       </fieldset>
       <fieldset class="bjj"></fieldset>
       <div class="area">
          <label for="telefone">Telefone</label>
          <input type="text" id="telefone" name="telefone" style="width: 10em"  value="" />
      </div>
       <div class="area">
            <label>Sexo:</label>
            <label class="checkbox">
                <input type="radio" name="sexo" value="masculino"> Masculino
            </label>
            <label class="checkbox">
                <input type="radio" name="sexo" value="feminino"> Feminino
            </label>
        </div>
   </fieldset>
   <fieldset class="bjj"></fieldset>
   <div class="area">
      <label for="endereco">Endereço:</label>
      <input type="text" id="endereco" name="endereco" style="width: 25em"  value="" />
  </div>
  <fieldset class="bjj">
		<div class="area">
			<label for="Bairro">Bairro:</label>
			<input type="text" id="Bairro" name="Bairro" style="width: 10em" value="" />
		</div>
		<div class="area">
			<label for="Cidade">Cidade</label>
			<select name="Cidade" id="Cidade">
				<option value="">--</option>
                <option value="SR">Santa Rita</option>
                <option value="JP">João Pessoa</option>
                <option value="CG">Campina Grande</option>
                <option value="BA">Bayeux</option>
			</select>
        </div>
                <div class="area">
                    <label for="CEP">CEP:</label>
                    <input type="text" id="CEP" name="CEP" style="width: 10em" value="" />
                </div>
         <div class="area">
             <label for="EC">Estado Civil:</label>
             <select name="Estado Civil" id="Estado Civil">
                    <option value="">--</option>
                    <option value="ST">Solteiro</option>
                    <option value="CD">Casado</option>
                    <option value="VU">Viúvo</option>
                               
             </select>
        </div> 
        <div class="area">
                <label for="ID">Indicação:</label>
                <input type="text" id="Indicação" name="Indicação" style="width: 10em" value="" />
            </div> 
            <div class="area">
                 <label for="RG">RG:</label>
                <input type="text" id="RG" name="RG" style="width: 7em" value="" />
             </div> 
             <div class="area">
                  <label for="CPF">CPF:</label>
                  <input type="text" id="CPF" name="CPF" style="width: 10em" value="" />
              </div>
              <div class="area">
                   <label for="PF">Profissão:</label>
                   <input type="text" id="Profissão" name="Profissão" style="width: 10em" value="" />
               </div>    
               <div class="area">
                    <label for="CV">Convênio:</label>
                         <select name="CV" id="CV">
                              <option value="SS">SUS</option>
                                   <option value="PT">Particular</option>
		       </select>
	     </div>
              <div class="area">
                     <label for="TP">Tipo de plano:</label>
                     <select name="TP" id="Tipo de plano">
	          <input type="text" id="Tipo de plano" name="Tipo de plano" style="width: 10em"  value="" />
  </div> 
				      			      
	    <div class="area">
                      <label for="MT">Matricula:</label>
                    
	        <input type="text" id="Matricula" name="Matrícula" style="width: 10em"  value="" />
  </div> 
	   <div class="area">
                      <label for="Urgência">Em caso de urgência, avisar:</label>
                      
		<input type="text" id="Em caso de urgência, avisar" name="Em caso de urgência, avisar" style="width: 10em"  value="" />
  </div> 
					      
	   <div class="area">
                       <label for="TEL">Telefone:</label>
                      
		<input type="text" id="Telefone" name="Telefone" style="width: 10em"  value="" />
  </div> 
           <div class="area">
                        <label for="OBS">Telefone:</label>
                       
		<input type="text" id="OBS" name="OBS" style="width: 10em"  value="" />
  </div> 
				      
				      
						      <h2> ANAMNESE </h2>
						      
	 <div class="area">
                                <label for="1">Está bem de saúde?</label>
                                
			<input type="text" id="1" name="Está bem de saúde?" style="width: 10em"  value="" />
  </div> 
		 					      
	 <div class="area">
                                <label for="2">Está sob cuidados médicos?</label>
                                
			<input type="text" id="2" name="Está sob cuidados médicos?" style="width: 10em"  value="" />
  </div> 	
		 
		  <div class="area">
                                <label for="3">Motivo:</label>
                                
			<input type="text" id="3" name="Motivo" style="width: 10em"  value="" />
  </div> 	
				      
			  <div class="area">
                                <label for="4">Está tomando algum medicamento?</label>
                                
			<input type="text" id="4" name="Está tomando algum medicamento?" style="width: 10em"  value="" />
  </div> 	
				      
				  
				    <div class="area">
                                <label for="5">Qual?</label>
                              
			<input type="text" id="5" name="Qual?" style="width: 10em"  value="" />
  </div> 	
				      
			    <div class="area">
                                <label for="6">Médico Responsável:</label>
                           
			<input type="text" id="6" name="Médico Responsável:" style="width: 10em"  value="" />
  </div> 	
				      
				    
			    <div class="area">
                                <label for="7">Telefone:</label>
                              
			<input type="text" id="7" name="Telefone:" style="width: 10em"  value="" />
  </div> 	
				      
				        
			    <div class="area">
                                <label for="8">Já teve hemorragia?</label>
                              
			<input type="text" id="8" name="Já teve hemorragia?" style="width: 10em"  value="" />
  </div> 	
				      
                                    
				      <div class="area">
                                <label for="9">Fumante?</label>
                              
			<input type="text" id="9" name="Fumante?" style="width: 10em"  value="" />
  </div> 	
				    
				
				      <div class="area">
                                <label for="9">Há muito tempo?</label>
                              
			<input type="text" id="9" name="Há muito tempo?" style="width: 10em"  value="" />
  </div> 	
				    
				 <div class="area">
                                <label for="9">Qtde cigarros/dia:</label>
                                
			<input type="text" id="9" name="Qtde cigarros/dia:" style="width: 10em"  value="" />
  </div> 
					 
					 
					
                         
</fieldset>
</body>
<style>
    h1{
    color: #354e61;
    text-align: center;
    }
    h5{
    color: #354e61;
    }
</style>
</html>
